<!--/*

  Footer is taken directly from the registry.  The HTML is copied wholesale from the
  renedered registry page and pasted here.

*/-->
<footer id="footer">
  <div class="footer-holder">
    <div class="container">
      <address>
        <strong>Clinical Trials Ontario</strong>
        <span>MaRS Centre, West Tower</span>
        <span>661 University Avenue, Suite 460</span>
        <span>Toronto, Ontario, M5G 1M1 Canada</span>
      </address>

      <ul class="contact-list">
        <li><div><strong>E:</strong>&nbsp;<a title="Contact Clinical Trials Ontario" href="mailto:info@ctontario.ca?subject=Re: CTO Registry Inquiry">info@ctontario.ca</a></div></li>
        <li><div><strong>P:</strong>&nbsp;1-877-715-2700</div></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <nav class="menu-footer-nav-container">
        <ul id="menu-footer-nav">
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a target="_blank" href="http://www.ctontario.ca">www.ctontario.ca</a>
          </li>
        </ul>
      </nav>
      <p class="copy">Copyright 2017 Clinical Trials Ontario, All Rights Reserved</p>
    </div>
  </div>
</footer>
